1 - Imprime la frase "Escuela de Datos de Alura".

In [2]:
print('"Escuela de Datos Alura"')

"Escuela de Datos Alura"

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

Nombre: [tu nombre]
Apellido: [tu apellido]

In [3]:
print('Nombre: Rony')
print('Apellido: Ramirez')

Nombre: Rony
Apellido: Ramirez

3 - Imprime tu primer nombre letra por letra.

In [4]:
print('R')
print('O')
print('N')
print('Y')

R
O
N
Y

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:

28 febrero 2003

In [7]:
print(28, 'de agosto de', 1981)

28 de agosto de 1981

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

Año actual: [año]

In [9]:
print('Año actual:', 2025)

Año actual: 2025